@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
    position: relative;
}

a {
    text-decoration: none;
    color: #FD98A7;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0px;
}

.navbar {
    border-radius: 5px;
}


/* nav heading left */

#mainHeading {
    font-weight: bolder;
    font-size: 4rem;
    font-family: "Bebas Neue", cursive;
    text-align: center;
    color: #FD98A7;
    margin-right: 40px;
    padding-left: 50px;
}

.navbar-inverse .navbar-nav li a {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
    margin-right: 30px;
    border-radius: 5px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #FD98A7;
    font-weight: bolder;
    cursor: pointer;
    /* font-size: 3rem; */
}

.navbar-inverse .navbar-nav>.active>a {
    color: black;
    background-color: #FD98A7;
}


/* search section */

#section {
    padding-top: 100px;
    height: 100vh;
    color: #fff;
    background-image: url('original.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic {
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
    color: black;
    font-family: "Bebas Neue", cursive;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.flex-container1 .searchButton {
    width: 600px;
    height: 100px;
}

#myIcon {
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 18px;
    text-align: center;
}

#myIcon:hover {
    cursor: pointer;
    border: black;
}


/* ABOUT US SECTION */

#section1 {
    padding-top: 50px;
    height: 100vh;
    color: #fff;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* TEAM SECTION */

#section2 {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    color: #fff;
    background-image: url('rm21-color-sasi-02_1.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.team-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* background-color: DodgerBlue; */
}

.card {
    text-align: center;
    padding: 20px 5px 5px 20px;
    margin: 20px 5px 10px 5px;
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 50%;
}

.card h3 {
    margin-top: 20px;
    font-weight: 600;
    color: #011c38;
}

.card .post {
    font-weight: bold;
    margin-top: 10px;
    color: grey;
    margin-bottom: 10px;
}

#section3 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
    color: #fff;
    background-color: white;
    /* background-image: url('white.jpg'); */
}

#section4 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
    color: #fff;
    background-image: url('rm21-color-sasi-02_1.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#section5 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
    color: #fff;
    background-color: white;
    /* background-image: url('white.jpg'); */
}


/* #mainRow {
    margin: 0px;
    padding: 0px;
} */


/* .navbar li {
    font-family: "Bebas Neue", cursive;
    color: #FD98A7;
    font-size: 1.5rem;
}

.navbar li:hover {
    color: white;
    background-color: #FD98A7;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.8rem;
} */


/*# sourceMappingURL=style.css.map */