@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$bgcolorgradient1:#FFE1E0;
$bgcolorgradient2:#FFFEFF;
$btncolor:#FD98A7;
$navbarFont:'Bebas Neue', cursive;
body{
    background-color: $bgcolorgradient1;
    background-repeat:no-repeat;
    height:100%;
    margin:0;
}

.leftRectangle{
    height:100%;
    border-radius:5px;
    width:90%;
    background-color: $bgcolorgradient2;
    position:fixed;
    right:50%;
    z-index:1;
}

.borderRectangle{
    border: 10px solid $btncolor;
    border-radius:8px;
    z-index:2;
    height:90%;
    position:relative;
    width:90%;
    right:50%;
    margin-right:-45%;
    margin-top:2rem;
    margin-bottom:2rem;
    z-index: 2;
    
}

.navbar{
    z-index:3;
    margin-left:45%;
    li{
        list-style-type:none;
        float:left;
        padding-right:4px;
        padding-left:4px;
        margin-right:4px;
        /*border:1px solid $btncolor;
        border-radius:6px;*/
        font-family:$navbarFont;
        color:$btncolor;
        font-size:1.5rem;
    }
    li:hover{
        color:white;
        background-color: $btncolor;
        cursor: pointer;
        border-radius:6px;
        font-size:1.8rem;
    }
}